<html ng-app="LunchApp">
    <head>
        <meta charset="utf-8">
        <title>Module 1</title>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <style>
            .fineBorder{
                 border: 1px solid green;
            }

            .errorBorder{
                border: 1px solid red;
            }

            .error{
                color: red;
            }

            .fine{
                color: green;
            }
        </style>
    </head>
    <body ng-controller="LunchController">
        <h1>Lunch Checker</h1>
        <div>
            <input type="text" ng-model="list" ng-class="borderStatus" placeholder="Enter your lunch items">
            <button ng-click="check()">Check</button>
            <div ng-class="statusClass">
                {{message}}
            </div>
        </div>
    </body>
</html>